In [0]:
#mounting adls 
spark.conf.set("fs.azure.account.key.capadls.dfs.core.windows.net","NUddFRAEp9O9xvfVdKwdw8u8To52mYqwCzWtLs42FG4IOFG09W670Hbmm4keZAyThQuYUMOD66s4+AStkSkHDw==")

adlocation="abfss://bankdata@capadls.dfs.core.windows.net/bank_data.csv"

+----+---+-----------+-------+---------+---+----+---+---+--------+---+---+---+---+---+---+-------+----+
|1001| 30| unemployed|married|  primary|no5|1787|no7|no8|cellular| 19|oct| 79|  1| -1|  0|unknown|no17|
+----+---+-----------+-------+---------+---+----+---+---+--------+---+---+---+---+---+---+-------+----+
|1002| 33|   services|married|secondary| no|4789|yes|yes|cellular| 11|may|220|  1|339|  4|failure|  no|
|1003| 35| management| single| tertiary| no|1350|yes| no|cellular| 16|apr|185|  1|330|  1|failure|  no|
|1004| 30| management|married| tertiary| no|1476|yes|yes| unknown|  3|jun|199|  4| -1|  0|unknown|  no|
|1005| 59|blue-collar|married|secondary| no|   0|yes| no| unknown|  5|may|226|  1| -1|  0|unknown|  no|
+----+---+-----------+-------+---------+---+----+---+---+--------+---+---+---+---+---+---+-------+----+
only showing top 4 rows

In [0]:
# defining schema 

from pyspark.sql.types import *

testSchema = StructType([
    StructField("id",StringType(),False),
    StructField("age",IntegerType(),False),
    StructField("job",StringType(),True),
    StructField("marital_status",StringType(),True),
    StructField("education",StringType(),True),
    StructField("default",StringType(),True),
    StructField("balance",IntegerType(),True),
    StructField("housing",StringType(),True),
    StructField("loan",StringType(),True),
    StructField("contact",StringType(),True),
    StructField("day",IntegerType(),True),
    StructField("month",StringType(),True),
    StructField("duration",IntegerType(),True),
    StructField("campaign",IntegerType(),True),
    StructField("pdays",IntegerType(),True),
    StructField("previous",IntegerType(),True),
    StructField("poutcome",StringType(),True),
    StructField("opened_new_td_act_no_yes",StringType(),True),

])

num_columns = ["Age","balance","day","duration","campaign","pdays"]

In [0]:
# reading file and creating dataframe 
location ="/FileStore/tables/bank_data.csv"
df = spark.read.format("csv").schema(testSchema).option("header", "true").option("delimiter",",").load(adlocation)
df.show(5)

+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
|  id|age|        job|marital_status|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|opened_new_td_act_no_yes|
+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
|1002| 33|   services|       married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure|                      no|
|1003| 35| management|        single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure|                      no|
|1004| 30| management|       married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown|                      no|
|1005| 59|blue-collar|       married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown|                      no|
|1006| 35| management|        single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure|                      no|
+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
only showing top 5 rows

In [0]:
#verifying Schema 
df.schema

Out[96]: StructType([StructField('id', StringType(), True), StructField('age', IntegerType(), True), StructField('job', StringType(), True), StructField('marital_status', StringType(), True), StructField('education', StringType(), True), StructField('default', StringType(), True), StructField('balance', IntegerType(), True), StructField('housing', StringType(), True), StructField('loan', StringType(), True), StructField('contact', StringType(), True), StructField('day', IntegerType(), True), StructField('month', StringType(), True), StructField('duration', IntegerType(), True), StructField('campaign', IntegerType(), True), StructField('pdays', IntegerType(), True), StructField('previous', IntegerType(), True), StructField('poutcome', StringType(), True), StructField('opened_new_td_act_no_yes', StringType(), True)])

In [0]:
#cache the dataframe 

df.cache()

Out[97]: DataFrame[id: string, age: int, job: string, marital_status: string, education: string, default: string, balance: int, housing: string, loan: string, contact: string, day: int, month: string, duration: int, campaign: int, pdays: int, previous: int, poutcome: string, opened_new_td_act_no_yes: string]

In [0]:
df.show(5)

+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
|  id|age|        job|marital_status|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|opened_new_td_act_no_yes|
+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
|1002| 33|   services|       married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure|                      no|
|1003| 35| management|        single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure|                      no|
|1004| 30| management|       married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown|                      no|
|1005| 59|blue-collar|       married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown|                      no|
|1006| 35| management|        single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure|                      no|
+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
only showing top 5 rows

In [0]:
df.columns

Out[99]: ['id',
 'age',
 'job',
 'marital_status',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'opened_new_td_act_no_yes']

In [0]:
df.count()

Out[100]: 4520

In [0]:
# describe all the columns 
df.describe().show()

+-------+------------------+------------------+-------+--------------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+-----------------+------------------+------------------+--------+------------------------+
|summary|                id|               age|    job|marital_status|education|default|           balance|housing|loan| contact|               day|month|          duration|         campaign|             pdays|          previous|poutcome|opened_new_td_act_no_yes|
+-------+------------------+------------------+-------+--------------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+-----------------+------------------+------------------+--------+------------------------+
|  count|              4520|              4520|   4520|          4520|     4520|   4520|              4520|   4520|4520|    4520|              4520| 4520|              4520|             4520|              4520|              4520|    4520|                    4520|
|   mean|            3261.5| 41.17256637168141|   null|          null|     null|   null|1422.5772123893805|   null|null|    null|15.914601769911505| null|264.00221238938053|2.794026548672566| 39.77566371681416|0.5426991150442478|    null|                    null|
| stddev|1304.9559379534621|10.576075559901557|   null|          null|     null|   null| 3009.966241608989|   null|null|    null| 8.248452164351006| null|259.87081406721217|3.110036246063498|100.13036481817643| 1.693730487185361|    null|                    null|
|    min|              1002|                19| admin.|      divorced|  primary|     no|             -3313|     no|  no|cellular|                 1|  apr|                 4|                1|                -1|                 0| failure|                      no|
|    max|              5521|                87|unknown|        single|  unknown|    yes|             71188|    yes| yes| unknown|                31|  sep|              3025|               50|               871|                25| unknown|                     yes|
+-------+------------------+------------------+-------+--------------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+-----------------+------------------+------------------+--------+------------------------+

In [0]:
# describe one of the column 
df.describe("balance").show()

+-------+------------------+
|summary|           balance|
+-------+------------------+
|  count|              4520|
|   mean|1422.5772123893805|
| stddev| 3009.966241608989|
|    min|             -3313|
|    max|             71188|
+-------+------------------+

In [0]:
#find negative in and replace them with zeros
num_columns = [f.name for f in df.schema.fields if isinstance(f.dataType, IntegerType)]
num_columns

import pyspark.sql.functions as func
print("number of negative values:")
for column in num_columns  :
    print(column,df.filter(func.col(column) <= 0).count())
df.show(5)

number of negative values:
age 0
balance 723
day 0
duration 0
campaign 0
pdays 3704
previous 3704
+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
|  id|age|        job|marital_status|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|opened_new_td_act_no_yes|
+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
|1002| 33|   services|       married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure|                      no|
|1003| 35| management|        single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure|                      no|
|1004| 30| management|       married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown|                      no|
|1005| 59|blue-collar|       married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown|                      no|
|1006| 35| management|        single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure|                      no|
+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
only showing top 5 rows

In [0]:
#replacing negative values with zero 
import numpy as np
newdf= df.toPandas()

# newdf= newdf.loc[column[1]< 0, column[1]] = 0

for column in num_columns  :
    print(column)
    newdf[column] = np.where(newdf[column] < 0, 0, newdf[column])

newdf.head(5)

age
balance
day
duration
campaign
pdays
previous

,id,age,job,marital_status,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,opened_new_td_act_no_yes
0,1002,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
1,1003,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
2,1004,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,0,0,unknown,no
3,1005,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,0,0,unknown,no
4,1006,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no

In [0]:
#view created to run sql queries on the dataframe.
df=spark.createDataFrame(newdf) 

df.createOrReplaceTempView("bank")

spark.sql("SELECT * FROM bank").show(10)

+----+---+-------------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
|  id|age|          job|marital_status|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|opened_new_td_act_no_yes|
+----+---+-------------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
|1002| 33|     services|       married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure|                      no|
|1003| 35|   management|        single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure|                      no|
|1004| 30|   management|       married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|    0|       0| unknown|                      no|
|1005| 59|  blue-collar|       married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|    0|       0| unknown|                      no|
|1006| 35|   management|        single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure|                      no|
|1007| 36|self-employed|       married| tertiary|     no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|   other|                      no|
|1008| 39|   technician|       married|secondary|     no|    147|    yes|  no|cellular|  6|  may|     151|       2|    0|       0| unknown|                      no|
|1009| 41| entrepreneur|       married| tertiary|     no|    221|    yes|  no| unknown| 14|  may|      57|       2|    0|       0| unknown|                      no|
|1010| 43|     services|       married|  primary|     no|      0|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2| failure|                      no|
|1011| 39|     services|       married|secondary|     no|   9374|    yes|  no| unknown| 20|  may|     273|       1|    0|       0| unknown|                      no|
+----+---+-------------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
only showing top 10 rows

In [0]:
#target distribution

df.groupBy("opened_new_td_act_no_yes").count().show()

+------------------------+-----+
|opened_new_td_act_no_yes|count|
+------------------------+-----+
|                      no| 3999|
|                     yes|  521|
+------------------------+-----+

In [0]:
# pairwise frequencies 
df.crosstab("opened_new_td_act_no_yes","loan").show()

+-----------------------------+----+---+
|opened_new_td_act_no_yes_loan|  no|yes|
+-----------------------------+----+---+
|                           no|3351|648|
|                          yes| 478| 43|
+-----------------------------+----+---+

In [0]:
#writing back to adls 
write_location= "abfss://bankdata@capadls.dfs.core.windows.net/gold_layer"
df.write.format("csv").option("header",True).mode('overwrite').save(write_location)

In [0]:
#reading back the file written to adls 
testdf = spark.read.format("csv").schema(testSchema).option("header", "true").option("delimiter",",").load(write_location)
testdf.show(5)

+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
|  id|age|        job|marital_status|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|opened_new_td_act_no_yes|
+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
|1002| 33|   services|       married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure|                      no|
|1003| 35| management|        single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure|                      no|
|1004| 30| management|       married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|    0|       0| unknown|                      no|
|1005| 59|blue-collar|       married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|    0|       0| unknown|                      no|
|1006| 35| management|        single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure|                      no|
+----+---+-----------+--------------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+------------------------+
only showing top 5 rows